<!DOCTYPE html>
<html ng-app="ngbpMobileAngularUi" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

<!--     <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <!-- Enable minimalistic mobile UI when available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />

    <!-- Manifest file for Google chrome. Details @ https://developer.chrome.com/extensions/manifest -->
    <link rel="manifest" href="manifest.json" />

    <!-- Icons -->
    <link rel="icon" sizes="16x16 32x32 48x48" href="assets/icon/favicon.ico" />
    <link rel="icon" type="image/png" sizes="128x128" href="assets/icon/favicon-128.png" />
    <link rel="icon" type="image/png" sizes="512x512" href="assets/icon/favicon-512.png" />

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </head>
  <body>
    <!-- Sidebars -->

    <div ng-include="'assets/sidebar.html'" track-as-search-param='true' class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="sidebarLeft">
<!--     <div ng-include="'assets/sidebar.html'" track-as-search-param='true' class="sidebar sidebar-left"> -->
    </div>

    <div ng-include="'assets/sidebarRight.html'" class="sidebar sidebar-right" toggleable parent-active-class="sidebar-right-in" id="sidebarRight">
<!--     <div class="list-group" ui-toggle="sidebarRight"> -->
    </div>
    <div class="app">

      <!-- Navbars -->

      <div class="navbar navbar-app navbar-absolute-top">
        <!-- yield-to="pageTitle"-->
        <div class="navbar-brand navbar-brand-center">
          Mobile Angular UI
        </div>
        <div class="btn-group pull-left">
            <div ng-click="toggle('sidebarLeft')" class="btn btn-navbar sidebar-toggle">
<!--             <div ui-toggle="sidebarLeft" class="btn sidebar-toggle"> -->
            <i class="fa fa-bars"></i> Menu
          </div>
        </div>
        <div class="btn-group pull-right" > <!--yield-to="navbarAction"-->
          <div ng-click="toggle('sidebarRight')" class="btn btn-navbar"> <!--ui-toggle="sidebarRight" -->
            <i class="fa fa-comment"></i> Chat
          </div>
        </div>
      </div>

      <div class="navbar navbar-app navbar-absolute-bottom">
        <div class="btn-group justified">
          <a href="http://mobileangularui.com/" class="btn btn-navbar"><i class="fa fa-home fa-navbar"></i> Docs</a>
          <a href="https://github.com/roland2025/ngbp/tree/mobile-angular-ui" class="btn btn-navbar"><i class="fa fa-github fa-navbar"></i> Sources</a>
          <a href="https://github.com/roland2025/ngbp/issues" class="btn btn-navbar"><i class="fa fa-exclamation-circle fa-navbar"></i> Issues</a>
        </div>
      </div>

<!-- Loader doesn't work in chrome -->
<!--
        <div class="app-body" ng-class="{loading: loading}">
            <div ng-show="loading" class="app-content-loading">
                <i class="fa fa-spinner fa-spin loading-spinner"></i>
            </div>

            <div class="app-content" ui-view="main" ng-hide="loading">
                <div ui-view="main"></div>
            </div>
        </div>-->


        <div class="app-body">
            <div class="app-content" ui-view="main">
                <div ui-view="main"></div>
            </div>
        </div>

    </div>

    <div yield-to="modals"></div>
  </body>
</html>
